:root {
  --Coolgray: hsl(231, 11%, 63%);
  --Lightgray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Marineblue: hsl(213, 96%, 18%);
  --Purplishblue: hsl(243, 100%, 62%);
  --Pastelblue: hsl(228, 100%, 84%);
  --Lightblue: hsl(206, 94%, 87%);
  --Strawberryred: hsl(354, 84%, 57%);


}

.input-container input:-webkit-autofill,
.input-container input:-webkit-autofill:hover,
.input-container input:-webkit-autofill:focus,
.input-container input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--White) inset !important;
  -webkit-text-fill-color: var(--Coolgray) !important;
}



.personal-info {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 1rem;
}

h1 {
  color: var(--Purplishblue);
  padding: 0;
  margin: 0;
}

.personal-info p {
  padding: 0.5rem 0;
  margin: 0;
  color: var(--Coolgray);
  font-size: 0.8rem;
}

form {
  margin-top: 2rem;
}

.input-container{
  display: grid;
  grid-template-columns: 1fr;
}

.input-container label {
  color: var(--Marineblue);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1rem 0 0.3rem 0;
}

form {
  display: flex;
  flex-direction: column;
}

.input-container input {
  padding: 0.5rem;
  border: 1px solid var(--Lightblue);
  border-radius: 7px;
  background-color: var(--White);
  color: var(--Marineblue);
  outline: none;
}

button {
  align-self: flex-end;
  margin-top: 3rem;
}

