:root {
    --Coolgray: hsl(231, 11%, 63%);
}


.track-panel {
    
    background-image: url('assets/images/bg-sidebar-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 4rem 12rem 3rem;
    font-family: monospace;
    outline: none;
    border: none;
    border-radius: 10px;

}

ol {
    list-style: none;
    counter-reset: step-counter;
    padding: 0;
    margin: 0;
   
}


li {
    margin: 0;
    padding: 0;
    color: var(--Coolgray);
    position: relative;
    

    
}
li::before {
    content: counter(step-counter);
    counter-increment: step-counter;
    position: absolute;
    left: -2.2rem;
    top: 50%;
    transform: translateY(-40%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: lightgray;
    color: var(--Coolgray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

h2 {
    font-size: 1.1rem;
    padding: 0;
    margin: 0.3rem 0;
}

@media (max-width: 600px) {
    .track-panel {
        padding: 2rem 2.5rem 8rem 3rem;
    }
 
    h2 {
       font-size:  0.9rem;
    }
}