:root {
    --Coolgray: hsl(231, 11%, 63%);
}


.track-panel {
    
    background-image: url('../assets/images/bg-sidebar-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 4rem 12rem 3rem;
    font-family: monospace;
    outline: none;
    border: none;
    border-radius: 10px;

}

.ol-panel {
    width: 100px;
    list-style: none;
    counter-reset: step-counter;
    padding: 0;
    margin: 0;
}

.ol-panel li {
    position: relative;
    
    color: white;
}

.ol-panel li::before {
    content: counter(step-counter);
    counter-increment: step-counter;
    position: absolute;
    left: -2.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease;
}

.track-panel .ol-panel li.active::before {
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
    border-color: hsl(206, 94%, 87%);
}

.step-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.step-label {
    text-transform: uppercase;
    color: hsl(229, 24%, 87%);
    font-size: 0.75rem;
    letter-spacing: 1px;
}

h2 {
    color: white;
    font-size: 0.9rem;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

@media (max-width: 600px) {
    .track-panel {
        padding: 2rem 2.5rem 8rem 3rem;
    }
}

@media (max-width: 480px) {
    .track-panel {
        background-image: url('../assets/images/bg-sidebar-mobile.svg');
        background-size: cover;
        padding: 2rem 2.5rem 2rem 3rem;
    }
}
