
:root {
    --Coolgray: hsl(231, 11%, 63%);
    --Lightgray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Marineblue: hsl(213, 96%, 18%);
    --Purplishblue: hsl(243, 100%, 62%);
    --Pastelblue: hsl(228, 100%, 84%);
    --Lightblue: hsl(206, 94%, 87%);
    --Strawberryred: hsl(354, 84%, 57%);
    --Purplishbluelight: hsl(243, 21%, 52%);
  
  
  }

  h1 {
    color: var(--Marineblue);
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    margin-bottom: 0.3rem;
    font-family:monospace;
    font-weight: bold;

  }
  p {
    color: var(--Coolgray);
    font-size: 1rem;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
  }

  .Summary {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }

  .Summary__content {
    border-radius: 10px;
    background-color: var(--Magnolia);
    padding: 1rem;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .plan-choose {
    font-size: 1.1rem;
    color: var(--Marineblue);
    
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--Lightgray);
    padding-bottom: 0.9rem;
  }

  .Summary__content {
    color: var(--Coolgray);
  }

  .add-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .confirm-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    
  }

  .Summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    
  }
  
  
  .confirm-button {
    display: flex;
    justify-content: space-between;
    margin-top: auto; /* Push the buttons to the bottom */
  }

  .total {
    color: var(--Coolgray);
    font-size: 1rem;
    justify-content: space-between;
    display: flex;
    padding: 1rem 1rem 0 1rem;
  }

  .change {
    cursor: pointer;
    color: var(--Purplishblue);
    font-size: 1rem;

  }

  .change:hover {
    text-decoration: underline;
  }
  
  .price-plan {
    color: var(--Marineblue);
    cursor: pointer;
  }

  .add-price {
    color: var(--Purplishbluelight);
  }

  .total-price {
    color: var(--Purplishblue);
    font-size: 1.1rem;
  }